input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 15px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
​
button[type=submit] {
    width: 15%;
    background-color: #FF4D4D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
​
button[type=submit]:hover {
    background-color: crimson;
}
​
form{
    margin: 0 auto;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}